@import 'tailwindcss';
@import 'uniwind';

@theme {
	--color-primary: #0ac26a;
	--color-very-yellow: #fcbd00;
	--color-simple-orange: #fa8919;
	--color-simple-blue: #1086fb;
	--color-not-pink: #f27eff;
	--color-danger: #ff6b6b;
	--color-muted: #3f3f46;

	--font-sans: 'Geist-Regular';
	--font-sans-bold: 'Geist-Bold';
	--font-mono: 'Geist-Mono';
	--font-mono-medium: 'Geist-Mono-Medium';
	--font-mono-semibold: 'Geist-Mono-SemiBold';
	--font-mono-bold: 'Geist-Mono-Bold';
	--font-display: Pacifico;
}

@layer theme {
	@variant light {
		--color-background: #f3f3ed;
		--color-surface-base: #ffffff;
		--color-on-surface: #000000;
		--color-on-surface-super: #1a1a1a;
		--color-muted: #3f3f46;
		--color-focus: #dff2fe;
	}

	@variant dark {
		--color-background: #131313;
		--color-surface-base: #000000;
		--color-on-surface: #ffffff;
		--color-on-surface-super: #f2f2ec;
		--color-muted: #e4e4e7;
		--color-focus: #1e3a52;
	}
}

.super-title {
	@apply font-display text-[32px];
	color: var(--color-on-surface-super);
}
.list-title {
	@apply font-mono-semibold text-sm;
	color: var(--color-on-surface);
}
.list-item-title,
.secondary-text {
	font-family: var(--font-mono);
}
.paragraph-mono-medium,
.paragraph-mono-bold,
.paragraph,
.paragraph-bold {
	font-size: 14px;
}
.paragraph,
.paragraph-bold {
	color: var(--color-on-surface);
}
.list-item-title {
	font-size: 16px;
}
.secondary-text {
	font-size: 14px;
	color: var(--color-muted);
}
.paragraph-mono-medium {
	font-family: var(--font-mono-medium);
}
.paragraph-mono-bold {
	font-family: var(--font-mono-bold);
}
.paragraph {
	font-family: var(--font-sans);
}
.paragraph-bold {
	font-family: var(--font-sans-bold);
}
